h2 {
    font-weight: normal;
}
div.formTime {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
div.formTimePicker {
    width: 100%;
    text-align: center;
}
div.daySelect, div.timeSelect, timeselector, img{
    display: inline-block;
}
div.formTimePicker {
    width: 100%;
    text-align: center;
}
#buttonHolder {
    text-align: right;
    align-items: right;
    justify-content: right;
}