h2 {
    font-weight: normal;
}
a {
    color: #42b983;
}
ol {
    margin-left: 40px;
}
#buttonHolder {
    text-align: right;
    align-items: right;
    justify-content: right;
}
#loginButtonHolder {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.search-field {
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
    width: 100%;
    background-color: #555555;
    color: white;
}

.search-bar-container {
    margin: auto;
}

.add-question {
    color: white;
    font-size: 20px;
    margin: 30px;
    margin-left: 100px;
}