h2 {
    font-weight: normal;
}
a {
    color: #42b983;
}
textarea {
    resize: none;
}
div.qFormGroup, div.aFormGroup {
    width: 80%;
    text-align: center;
    padding-top: 20px;
}
#buttonHolder {
    text-align: right;
    align-items: right;
    justify-content: right;
}