h2 {
    font-weight: normal;
}
a {
    color: #42b983;
}
div.form-group {
    width: 80%;
    margin: 10px;
    margin-left: 40px;
}
#buttonHolder {
    text-align: right;
    align-items: right;
    justify-content: right;
}