h2 {
    font-weight: normal;
}
a {
    color: #42b983;
}
textarea {
    resize: none;
}
div.qFormGroup {
    width: 80%;
    text-align: center;
    margin-top: 20px;
}
#buttonHolder {
    text-align: right;
    align-items: right;
    justify-content: right;
}
div.form-vif {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
div.formTimePicker {
    width: 100%;
    text-align: center;
}
div.timePicker, div.timeChip, div.formElement, timeselector, img, vs-chip {
    display: inline-block;
}